/* For webkit-based browsers (Chrome, Safari) */
::-webkit-scrollbar {
    display: none;
  }
  
  /* For Firefox */
  * {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
  }
  
  /* General styling */
  .no-scrollbar {
    overflow: hidden;
  }
  